<ion-header>
  <ion-navbar>
    <ion-title>Team Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
	     <h2>{{team.name}}</h2>
	   </ion-item>

	  <ion-item>
	     <h4>{{team.description}}</h4>
	  </ion-item>

	</ion-list>
  <ion-list>
    <ion-list-header>
      Team Point
    </ion-list-header>
    <ion-item *ngFor='let activity of team.activity'>
      <ion-item>
        <h2>{{activity.name}}</h2>
        {{activity.amount || "0"}} Points
        <button ion-button item-right icon-left color="primary" (click)='editPoint(activity.name, activity.key, team.$key)'>
          <ion-icon name="add"></ion-icon>
          Edit Point
        </button>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
