<ion-list>
  <ion-list-header>
    <button item-right clear light (click)="programAdd()">
      <ion-icon name="add"></ion-icon>
    </button>
    Program List
  </ion-list-header>
  <ion-item-sliding *ngFor='let program of programs | async'>
    <button ion-item (click)="programDetail(program.$key, program)">
      <h2>{{program.name}}</h2>
      <h3>{{program.description}}</h3>
    </button>
    <ion-item-options side="right">
      <button ion-button icon-left color="secondary" (click)="programEdit(program)">
        <ion-icon name="create"></ion-icon>
        Edit
      </button>
      <button ion-button icon-left color="danger" (click)="programDelete(program.$key)">
        <ion-icon name="close"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
