<ion-header>
  <ion-navbar>
    <ion-title>Program Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="program-detail">
  <ion-list>
    <ion-item>
	     <h4>{{program.name}}</h4>
	   </ion-item>

	  <ion-item>
	     <h4>{{program.description}}</h4>
	  </ion-item>

	</ion-list>
  <ion-list>
    <ion-list-header>
      <button item-right clear light (click)="teamAdd()">
        <ion-icon name="add"></ion-icon>
      </button>
      Team List
    </ion-list-header>
    <ion-item-sliding *ngFor='let team of teams | async'>
      <ion-item>
        <h2>{{team.name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-left color="primary" (click)="teamDetail(team.$key)">
          <ion-icon name="eye"></ion-icon>
          Detail
        </button>
        <button ion-button icon-left color="secondary">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button icon-left color="danger">
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <button item-right clear light (click)="activityAdd()">
        <ion-icon name="add"></ion-icon>
      </button>
      Activity List
    </ion-list-header>
    <ion-item-sliding *ngFor='let activity of activities| async'>
      <ion-item>
        <h2>{{activity.name}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-left color="primary" (click)="activityDetail(activity.$key)">
          <ion-icon name="eye"></ion-icon>
          Detail
        </button>
        <button ion-button icon-left color="secondary" (click)="activityEdit(activity)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button icon-left color="danger" (click)="activityDelete(activity.$key)">
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
