<ion-header>
  <ion-navbar>
    <ion-title>Program Sharing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="program-sharing">
  <ion-list>
  	 <ion-item>
  	    <ion-label stacked>Name</ion-label>
  	    <ion-input [(ngModel)]="email" type="email" name="email" required></ion-input>
  	  </ion-item>
     <ion-item>
       <button ion-button block large type="submit" (click)="searchEmail(email)">Search</button>
    </ion-item>
	</ion-list>
  <ion-list *ngIf="user">
    <ion-list-header>
      Result
    </ion-list-header>
    <ion-item>
      {{user.name}}
      <button ion-button outline item-right icon-left (click)="shareWithUser(user)">
        <ion-icon name="people"></ion-icon>
        Share
      </button>
    </ion-item>
  </ion-list>
</ion-content>
