<ion-header>
  <ion-navbar>
    <ion-title>Program Edit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="program-edit">
  <ion-list>
    <form (ngSubmit)="submitEditForm(program.$key, program)">
  	 <ion-item>
  	    <ion-label stacked>Name</ion-label>
  	    <ion-input [(ngModel)]="program.name" type="text" ngControl="name"name="name" required></ion-input>
  	  </ion-item>

  	 <ion-item>
  	   <ion-label stacked>Description</ion-label>
  	   <ion-textarea [(ngModel)]="program.description" ngControl="description" name="description"></ion-textarea>
  	 </ion-item>
     <ion-item>
       <button ion-button block large type="submit">Edit</button>
    </ion-item>
    <ion-item>
     <button ion-button color="danger" block large navPop>Cancel</button>
   </ion-item>
    </form>
	</ion-list>
</ion-content>
